Repository Soluto/tweek-clients: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn-deduplicate

fix: tweek-client generic ValueType
  js/tweek-client/package.json
  js/tweek-client/src/TweekManagementClient/types.ts
Due: prettier --write

fix: tweek-client tag types
  js/tweek-client/package.json
  js/tweek-client/src/TweekManagementClient/TweekManagementClient.ts
  js/tweek-client/src/TweekManagementClient/types.ts
Due: prettier --write

fix: tweek-client search types
  js/tweek-client/package.json
  js/tweek-client/src/TweekManagementClient/TweekManagementClient.ts
  js/tweek-client/src/TweekManagementClient/types.ts
Due: prettier --write

fix: don't try to get empty key
  js/react-tweek/package.json
  js/react-tweek/src/createUseTweekValue.ts
Due: prettier --write

fix: don't try to get empty key (#181)
  js/react-tweek/package.json
  js/react-tweek/src/createUseTweekValue.ts
Due: prettier --write

add etag to tweek management client
  js/tweek-client/package.json
  js/tweek-client/src/TweekManagementClient/TweekManagementClient.ts
  js/tweek-client/src/TweekManagementClient/types.ts
  js/tweek-client/test/TweekManagementClient.spec.ts
Due: prettier --write

review fix
  js/tweek-client/src/TweekManagementClient/TweekManagementClient.ts
Due: prettier --write

better
  js/tweek-client/src/TweekManagementClient/TweekManagementClient.ts
  js/tweek-client/test/TweekManagementClient.spec.ts
Due: prettier --write

feat: add etag to key definitions in tweek management client (#191)
  js/tweek-client/package.json
  js/tweek-client/src/TweekManagementClient/TweekManagementClient.ts
  js/tweek-client/src/TweekManagementClient/types.ts
  js/tweek-client/test/TweekManagementClient.spec.ts
Due: prettier --write

feat: add etag to update response
  js/tweek-client/package.json
  js/tweek-client/src/TweekManagementClient/TweekManagementClient.ts
  js/tweek-client/src/TweekManagementClient/types.ts
  js/tweek-client/test/TweekManagementClient.spec.ts
Due: prettier --write

feat: add etag to update response (#195)
  js/tweek-client/package.json
  js/tweek-client/src/TweekManagementClient/TweekManagementClient.ts
  js/tweek-client/src/TweekManagementClient/types.ts
  js/tweek-client/test/TweekManagementClient.spec.ts
Due: prettier --write

chore: update all packages
  .gitignore
  js/tweek-local-cache/package.json
  package.json
  yarn.lock
Due: prettier --write, yarn-deduplicate

fix: typecheck
  js/tweek-client/package.json
  js/tweek-client/src/types.ts
  js/tweek-client/src/utils.ts
  js/tweek-local-cache/spec/behavior/tweek-repository.spec.ts
Due: prettier --write

chore: update all packages (#198)
  .gitignore
  js/tweek-client/package.json
  js/tweek-client/src/types.ts
  js/tweek-client/src/utils.ts
  js/tweek-local-cache/package.json
  js/tweek-local-cache/spec/behavior/tweek-repository.spec.ts
  package.json
  yarn.lock
Due: prettier --write, yarn-deduplicate

Fixed Dockerfile for dotnet tests
  dotnet/Dockerfile
Due: none

Updated Unit Tests target framework to LTS (6.0)
  dotnet/Tweek.Client.Tests/Tweek.Client.Tests.csproj
Due: none

Updated Unit Test nuget packages to latest versions to work with dotnet 6.0
  dotnet/Tweek.Client.Tests/Tweek.Client.Tests.csproj
Due: none

Tests cases methods: changed visibility from internal to public to fix XUnit errors
  dotnet/Tweek.Client.Tests/ContextTestCasesProvider.cs
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md}
  yarn-deduplicate: any of: yarn.lock
